@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root {
  height: 100%;
  width: 100%;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: silver;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: #9098c6;
}

.mouse-client {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='gray' fill-rule='evenodd' d='M4.38 3.075a1 1 0 0 0-1.305 1.306l7 17a1 1 0 0 0 1.844.013l2.685-6.265a1 1 0 0 1 .525-.525l6.265-2.685a1 1 0 0 0-.013-1.844z' clip-rule='evenodd'/%3E%3C/svg%3E"),
    auto;
}

.mouse-server {
  /* width: 10; */
 
}
